<mat-grid-list cols="4" rowHeight="300px">
  <mat-grid-tile colspan="3" rowspan="1">
    <div>
      <h1>Stap Ship</h1>
      <h2>is about</h2>
      <p>
        stap ship is about ship of the line in the XVIII century, how they were
        built, drawned, designe
      </p>
      <h2>is made of</h2>
      <p>stap ship is a babylon world where one navigates the ships in 3D</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2">

    <a

          href="#"
          routerLink="./duMonceauSheet"
          routerLinkActive="router-link-active"
          style.background="lightblue"
        >
        Size your ship from artillery Design from Duhamel du Monceau </a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <a

    href="#"
    routerLink="./vrShip"
    routerLinkActive="router-link-active"
  >
   visit the 74 gun ship </a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    Glossary and terms for ships
  </mat-grid-tile>

</mat-grid-list>
