<div class="grid-container">
  <h1 class="mat-h1">References Books   <span><button
    mat-icon-button
    aria-label="Add"
    [routerLink]="['../add_book']"
    routerLinkActive="router-link-active">
  <mat-icon>add</mat-icon>
</button></span></h1>

<mat-grid-list cols="3" rowHeight="350px">
  <mat-grid-tile *ngFor="let book of books | async" colspan="1" rowspan="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{book.title}}
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>            </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)='expand(book.id)'>Expand</button>
            <button mat-menu-item (click)='delete(book.id)'>Remove</button>
          </mat-menu>

        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>
          author: {{book.authors}}
          published in: {{book.publication | date:'fullDate'}}
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
