<form [formGroup]="bookForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="book-card">
    <mat-card-header>
      <mat-card-title>New Book</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Title" formControlName="title">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Authors</mat-label>
            <mat-select [formControl]="bookForm" formControlName="author" >
              <mat-option *ngFor="let author of authorList | async" [value]="author">{{author.first_name}} {{author.last_name}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>


      <div class="row">
        <div class="col"><!--
          <mat-form-field class="full-width">
            <input matInput placeholder="Language" formControlName="language">
          </mat-form-field> -->
          <mat-form-field>
            <mat-label>Language</mat-label>
            <mat-select [formControl]="bookForm" formControlName="language" >
              <mat-option *ngFor="let lang of languageList" [value]="lang"> {{lang}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Publication</mat-label>
            <input matInput [matDatepicker]="publication" formControlName="publication">
            <mat-datepicker-toggle matSuffix [for]="publication"></mat-datepicker-toggle>
            <mat-datepicker #publication startView="year" [startAt]="startDate"></mat-datepicker>
            <mat-error *ngIf="bookForm.controls['publication'].hasError('required')">
              Publication is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="secondary" (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
