<div class="grid;home">
  <ul id="hexGrid">
    <li class="hex" *ngFor="let entry of entries">
      <div class="hexIn">
        <a
          class="hexLink"
          href="#"
          routerLink="{{entry.url}}"
          routerLinkActive="router-link-active"
        >
          <div class="img" [style.background-image]="'url(' + entry.img + ')'"></div>

          <h1 id="demo1">{{ entry.name }}</h1>
          <p id="demo2">{{ entry.desc }}</p>
        </a>
      </div>
    </li>
  </ul>
</div>
