<h1 mat-dialog-title>Messages</h1>
<mat-dialog-content>
  <cdk-virtual-scroll-viewport itemSize="50" class="msgThread">
    <div *ngFor="let message of messageList">
      <mat-card>
        <mat-card-content>
          <h3>{{message.from}}</h3> <span>
          <h5>{{message.time}}</h5></span>
          <p align="right">
          {{message.body}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>
  <div>
    <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" />
    <button (click)="sendMessage()"> Send </button>
  </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <div mat-button mat-dialog-close  color="primary">Close</div>
</mat-dialog-actions>
