<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer
    #drawer

    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div *ngIf="isDescription$ | async; else sIcon">
      <mat-toolbar>Stapler</mat-toolbar>
    </div>
    <ng-template #sIcon>
      <mat-toolbar> <mat-icon>S</mat-icon> </mat-toolbar>
    </ng-template>


    <mat-nav-list *ngFor="let entry of entries">
      <button
        mat-menu-item
        routerLink="{{ entry.url }}"
        routerLinkActive="router-link-active"
      >
        <mat-icon>{{ entry.icon }}</mat-icon>
        <span *ngIf="isDescription$ | async">{{ entry.name }}</span>
      </button>
    </mat-nav-list>


    <mat-nav-list>
      <div *ngIf="isDescription$ | async; else rightArrow">
        <mat-slide-toggle
          [checked]="isThemeDark$ | async"
          (change)="onChangeTheme($event.checked)"
        >
          <span *ngIf="isDescription$ | async"
            >Dark theme</span
          ></mat-slide-toggle
        >
        <button mat-menu-item (click)="onChangeDescription()">
          <mat-icon>keyboard_arrow_left</mat-icon>
          <span>description</span>
        </button>
      </div>

      <ng-template #rightArrow>
        <mat-slide-toggle
          [checked]="isThemeDark$ | async"
          (change)="onChangeTheme($event.checked)"
        >
        </mat-slide-toggle>
        <button mat-menu-item (click)="onChangeDescription()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </ng-template>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content >
    <div
      class="main_container"
      [ngClass]="{ 'dark-theme': isThemeDark$ | async }"
    >
      <div class="mat-app-background app_panel">
        <router-outlet></router-outlet>
        <div>credits - legal</div>
        <stap-user-entry></stap-user-entry>
        <stap-chat-entry></stap-chat-entry>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
